<h1>Add Salary for <a href=<%= URI.escape("/#{@company}/#{@position}")%>><%=h @position %></a> at <a href=<%= URI.escape("/#{@company}")%>><%=h @company %></a></h1>
<br />
<form id = "addSalary" method = "post" action = <%= URI.escape("/#{@company}/#{@position}/addsalary")%>>
	<div class = "form-group">
		<input type = "text" class = "form-control" name = "salary" id = "salary" placeholder = "Gross annual salary in USD, whole numbers">
		<br />
		<select class="selectpicker form-control" data-live-search="true" id="location" name="location">
		</select>
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addSalary").validate({
		rules: {
			salary: {
				required: true,
				digits: true
			}
		}
	});
</script>

<script>
		var locations = [];

		$.get('/search-location', function (data) {
			var mySelect = $('#location');

			$.each(data, function(val, text) {
				parsed = JSON.parse(text)

				mySelect.append(
					$('<option></option>').val(parsed.id).html(parsed.city + ", " + parsed.state)
				);
			});
		})
</script>
