<h1>Add Compensation for <a href=<%= URI.escape("/#{@company}/#{@position}")%>><%=h @position %></a> at <a href=<%= URI.escape("/#{@company}")%>><%=h @company %></a></h1>
<br />
<form id = "addSalary" method = "post" action = <%= URI.escape("/#{@company}/#{@position}/addsalary")%>>
	<div class = "form-group">
		<input type = "text" class = "form-control" name = "salary" id = "salary" placeholder = "Gross annual salary in USD, whole numbers">
		<small id="" class="form-text text-muted text-justify">Total gross salary</small>
	</div>
	<div class = "form-group">
		<select class="selectpicker form-control" data-live-search="true" id="location" name="location">
		</select>
		<small id="" class="form-text text-muted text-justify">Nearest major city</small>
	</div>
	<div class = "form-group">
		<select class="selectpicker form-control" id="experience" name="experience">
		</select>
		<small id="" class="form-text text-muted text-justify">Applicable years of experience</small>
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary btn-lg btn-block">Submit</button>
</form>

<script>
	$( document ).ready(function() {
		$.get('/search-location', function (data) {
			var mySelect = $('#location');

			$.each(data, function(val, text) {
				parsed = JSON.parse(text);

				mySelect.append(
					$('<option></option>').val(parsed.id).html(parsed.city + ", " + parsed.state)
				);
			});

			$(mySelect).selectpicker("refresh");
		});

		$.get('/search-experience', function (data) {
				var mySelect = $('#experience');

				$.each(data, function(val, text) {
						parsed = JSON.parse(text);

						mySelect.append(
								$('<option></option>').val(parsed.id).html(parsed.name)
						);
				});

				$(mySelect).selectpicker("refresh");
		});
	});
</script>

<script>
	$("#addSalary").validate({
		rules: {
			salary: {
				required: true,
				digits: true
			}
		}
	});
</script>
