<h1>Add Salary for <a href=<%= URI.escape("/#{@company}/#{@position}")%>><%=h @position %></a> at <a href=<%= URI.escape("/#{@company}")%>><%=h @company %></a></h1>
<br />
<form id = "addSalary" method = "post" action = <%= URI.escape("/#{@company}/#{@position}/addsalary")%>>
	<div class = "form-group">
		<input type = "text" class = "form-control" name = "salary" id = "salary" placeholder = "Gross annual salary in USD, whole numbers">
		<input type = "text" class = "form-control" name = "location" id = "location" placeholder = "Closest metro city where salary earned">
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addSalary").validate({
		rules: {
			salary: {
				required: true,
				digits: true
			},
			location: {
				required: true,
				alphanumericbasicpunc: true
			}
		}
	});
</script>

<script>
    $('#location').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            source: function (query, syncResults, asyncResults) {
                $.get('/search-location?location=' + encodeURIComponent(query), function (data) {
                    //Take the results and pull out the data we need into array
                    var locations = [];
                    for (var location in data) {
                        //Parse the string contained inside each index in array to JSON
                        var curr = JSON.parse(data[location]);
                        locations.push(curr.name)
                    }
                    //Pass the results to typeahead
                    asyncResults(locations);
                })
            }
        });
</script>
