<h1>Add Salary for <a href=<%= URI.escape("/#{@company}/#{@position}")%>><%=h @position %></a> at <a href=<%= URI.escape("/#{@company}")%>><%=h @company %></a></h1>
<br />
<form id = "addSalary" method = "post" action = <%= URI.escape("/#{@company}/#{@position}/addsalary")%>>
	<div class = "form-group">
		<!-- <label for = "salary">Salary</label> -->
		<input type = "text" class = "form-control" name = "salary" id = "salary" placeholder = "Salary in USD, whole numbers">
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addSalary").validate({
		rules: {
			salary: {
				required: true,
				digits: true
			}
		}
	});
</script>
