<% if @position %>
  <h1><%=h @position.name %> at <a href = <%= URI.escape("/#{@company.name}") %>> <%=h @company.name %></a></h1>
  <br />
  <h2>Reported Salaries</h2>
  <br />
  <br />
  <% @salaries.each do |salary| %>
    <h5><%=h salary.name %> - <%=h salary.count %> report(s)</h5>
  <%end%>
  <br />
  <br />
  <a href = <%= URI.escape("/#{@company.name}/#{@position.name}/addsalary")%>>Add Salary</a>
  <br />
  <br />
<% end %>
